:root {
    --primary-font: "Roboto", sans-serif;
    --title-font: "Roboto", sans-serif;
    --primary-dark-color: #2E2F42;
    --background-color: #ffffff;
    --primary-light-color: #F4F4FD;
    --secondary-dark-color: #434455;
    --active-link-color: #404bbf;
}
body {
    font-family: "Roboto", sans-serif ;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 320px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.container-new {
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.footer .container-footer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffffff1;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header .container-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 0 16px;
    flex-direction: row;
}

@media only screen and (min-width: 320px) {
    .container-new {
        width: 320px;
    }
    .modal-wind {
        width: 320px;
        height: 623px;
        transform: translate(-50%, -50%) scale(1);
        margin: 8px 16px;
        top: 50%;
        left: 46%;
    }
    .header-svg {
       fill: #2E2F42;
       width: 16.8px;
       height: 14.4px;
    }
    .header .address {
        display: none;
    }
    .footer .wow {
        text-align: center;
    }
    .subs-paragraf {
        text-align: center;
    }
    .header .container-header {
        margin: 0 auto;
        width: 320px;            
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header {
        padding: 18px 0;
    }
    .header .nav .list {
        display: none;
    }
    .subs-paragraf {
        text-align: center;
    }
    .first-section .main-title {
        font-size: 36px;
        line-height: 1.07;
        margin-bottom: 72px;
        width: 160px;
    }
    .footer .container-footer {
        row-gap: 72px;
        flex-wrap: wrap;
        justify-content: center;
        width: 320px;
    }
    .first-section {
        background-image:
        linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/office_3.jpg);
        max-width: 767px;
        padding: 72px 0;
        margin: 0 auto;
    }
    .third-section .teem {
        row-gap: 72px;
    }
    .third-section {
        width: 100%;
        padding-top: 96px;
        padding-bottom: 96px;
   }
   .second-section .about-us .title {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
   }
   .second-section .about-us .text {
        font-size: 16px;
        font-weight: 500;
   }
   .second-section .about-us {
        row-gap: 72px;
   }
   .fourth-section .portfolio {
        row-gap: 72px;
   }
   .fourth-section .image {
        width: 288px;
        height: 280px;
   }
}
@media only screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .first-section {
    background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/office_3@2.jpg);
    }
}
@media only screen and (min-width: 320px) and (max-width: 1280px) {
    .pic-icon {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        height: 0;
    }
    
    .pic {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        height: 0;
    }
}
@media only screen and (min-width: 768px) {

    .header .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 768px;
    }
    .header {
        padding: 14px 0;
    }
    .header .nav {
        gap: 120px;
    }
    .menu {
        display: none;
    }
    .modal-wind {
        height: 584px;
        width: 408px;
        transform: translate(-50%, -60%) scale(1);
        top: 60%;
        left: 50%;
    }
    .footer .www {
        margin-left: 20px;
    }
    .subs-paragraf {
        text-align: left;
    }
    .footer .wow {
        text-align: left;
    }
   .container-new {
       width: 768px;
   }
   .footer .container-footer {
        width: 496px;
        justify-content: left;
   }
    .third-section .teem {
        column-gap: 24px;
        row-gap: 64px;
    }
    .fourth-section .portfolio {
        column-gap: 24px;
        row-gap: 72px;
        padding: 0;
    }
    .fourth-section .portfolio .paragraf {
        width: 356px;
    }
    .fourth-section .image {
        width: 356px;
        height: 300px;
    }
    .second-section .about-us {
        column-gap: 24px;
    }
    .second-section .about-us .title {
        text-align: left;
        font-weight: 700;
    }
    .second-section .about-us .paragraf {
        width: calc((100% - 28px) / 2);
    }
    .header-svg {
        display: none;
    }
    .first-section {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/office_2.jpg);
        max-width: 1160px;
    }
    .first-section .main-title {
        font-size: 56px;
        margin-bottom: 36px;
        width: 496px;
    }
    .header .address .contacts .links {
        font-size: 12px;
    }
    .header .address {
        display: flex;
    }
    .header .address .contacts {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
    .header .nav .list {
        flex-direction: row;
        display: flex;
        gap: 40px;
    } 
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/office_2@2.jpg);
    }
}
@media only screen and (min-width: 1160px) {
    .container-new {
        width: 1158px;
        padding: 0 15px;
    }
    .header .address .contacts .links {
        font-size: 16px;
    }
    .header .nav {
        gap: 76px;
    }
    .footer .wow {
        text-align: left;
    }
    .subs-paragraf {
        text-align: left;
    }
    .header .container-header {
        display: flex;
        width: 1158px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
    }
    .header {
        padding: 24px 0;
    }
    .second-section .about-us .paragraf {
        width: calc((100% - 72px) / 4);
    }
    .second-section .about-us .text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: 0;
        font-weight: 300;
    }
    .second-section .about-us .title {
        font-size: 20px;
        text-align: left;
        font-weight: 500;
        margin: 0;
    }
   .pic-icon {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        width: 64px;
        height: 64px;
    }
    .header .address .contacts {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }
    .pic {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        height: 112px;
    }
    .third-section {
        padding-top: 120px;
        padding-bottom: 120x;
    }
    .footer .container-footer {
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .footer .container-footer .fff {
        margin-right: 120px;
    }
    .footer .www {
        margin-left: 0px;
        margin-right: 80px;
    }
    .fourth-section .portfolio {
        row-gap: 48px;
    }
    .fourth-section .image {
        width: 360px;
        height: 300px;
    }
    .fourth-section .portfolio .paragraf {
        width: 360px;
    }
    .first-section {
        max-width: 100%;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    }
    .first-section .main-title {
        margin-bottom: 48px;
        padding: 0;
    }
    .modal-wind {
        transform: translate(-50%, -60%) scale(1);
    }
}
@media only screen and (min-width: 1160px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2.jpg);
    }
}


.first-section {
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section .main-title {
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    text-align: center;
}
.first-section .button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    display: block;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-section .button:hover,
.first-section .button:focus {
    background-color: #404BBF;
}


.second-section .about-us .title {
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}
.second-section .about-us .text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.second-section .about-us {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.second-section .about-us .paragraf  {
    fill: #2E2F42;
}
.second-section .about-us .pic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid;
    border-color: #8E8F99;
    margin-bottom: 8px;
}
.pic-icon {
    fill: #2E2F42;
}
.second-section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.visually-hidden {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.third-section .t-two {
    font-size: 36px;
    color: #2E2F42;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}
.third-section .teem .first .title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
}
.third-section .teem .s-paragraf {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.third-section {
    background-color: #F4F4FD;
}
.third-section .teem .first .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.third-section .teem .first{
    padding: 32px 0;
}
.third-section .teem{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.third-section .teem .first .media {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
}
.third-section .teem .first .media .sosial {
    width: 40px;
    height: 40px;
}
.third-section .teem .first .media .sosial .posul {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-section .teem .first .media .sosial .posul:hover,
.third-section .teem .first .media .sosial .posul:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.third-section .teem .first .media .sosial .icon {
    fill: #f4f4fd;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}


.fourth-section .portfolio .second .title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.fourth-section .portfolio .second .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.fourth-section .portfolio {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.fourth-section .portfolio .second {
    padding: 32px 16px;
}
.fourth-section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.fourth-section .t-three {
    line-height: 1.11;
    text-align: center;
    font-size: 36px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.fourth-section .portfolio .paragraf {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #E7E9FC;
}
.fourth-section .portfolio .paragraf:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.paragraf .cards {
    position: relative;
    overflow: hidden;
}
.paragraf:hover .overlay {
    transform: translatey(0%);
}
.overlay {
    position: absolute;
    color: #f4f4fd;
    background-color: #4D5AE5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header .address .contacts .links {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .address .contacts .links:hover,
.header .address .contacts .links:focus {
color: #404BBF;
}
.header .address .contacts{
    list-style: none;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .address {
    font-style: normal;
}
.header .nav .logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header .nav .accent {
    color: #2e2f42;
}
.link {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-sell {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #404BBF;
    line-height: 1.5;
    padding: 27px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-sell::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}
.header .nav .list .link:hover,
.header .nav .list .link:focus{
    color: #404bbf;
}
.header .nav .list {
    list-style: none;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16);
}
.header .nav {
    display: flex;
    align-items: center;
}


.footer .second-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px; 
    display: inline-block;
    text-align: center;
}
.footer .accentt {
    color: #F4F4FD;
}
.footer .text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.footer .wow {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.footer .www .iconic {
    display: flex;
    gap: 16px;
    list-style: none;
    
}
.footer .www .iconic .iconic-list {
    width: 40px;
    height: 40px;
}
.footer .www {
    padding: 0;
}
.footer .www .iconic .iconic-list .pos {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .www .iconic .iconic-list .pos:hover,
.footer .www .iconic .iconic-list .pos:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .www .iconic .iconic-list .icons {
    fill: #F4F4FD;
    width: 24px; 
    height: 24px;
}


.subs-paragraf {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.forma {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.input-first {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 12px;
}
.forma-button {
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.forma-button:hover,
.forma-button:focus{ 
    background-color: #404BBF;
}
.icon-send {
    margin-left: 16px;
    fill: #ffffff;
}

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-wind {
    position: absolute;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal-closed {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-closed:hover,
.modal-closed:focus {
    background-color: #404bbf;
    border: none;
}
.icon-closed {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-closed:hover .icon-closed,
.modal-closed:focus .icon-closed{
    fill: #ffffff;
}
.modal-name {
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
}
.modal-form {
    margin-bottom: 8px;
}
.label {
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.wrap {
    position: relative;
}
.input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 40px;
}
.input:focus {
    border-color: #4D5AE5;
    outline: none;
}
.input:focus + .icons-wrap {
    fill: #4D5AE5;
}
.icons-wrap {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-forma {
    margin-bottom: 16px;
}
.textarea {
    min-height: 120px;
    width: 100%;
    letter-spacing: 0.04em;
    line-height: 1.17;
    font-size: 12px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
}
.textarea:focus {
    border-color: #4D5AE5;
}
.form-button {
    background-color: #4D5AE5;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: block;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    border: none;
}
.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}
.check {
    margin-bottom: 24px;
}
.label-check {
    letter-spacing: 0.04em;
    line-height: 1.17;
    font-size: 12px;
    color: #8E8F99;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.spanc {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.check .visually-hidden:checked + .label-check> .spanc {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.check-link {
    color: #4D5AE5;
}


.menu-closed {
    position: absolute;
    bottom: 700px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.menu-closed:hover,
.menu-closed:focus {
    background-color: #404bbf;
    border: none;
}
.menu {
    background-color: #ffffff;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.menu.is-open {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 72px 24px 24px 16px;
}
.iconn-closed {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-closed:hover .iconn-closed,
.modal-closed:focus .iconn-closed {
    fill: #ffffff;
}
.iconic-menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 40px;
}

.iconic-menu .menu-iconic-list {
    width: 40px;
    height: 40px;
}

.iconic-menu .menu-iconic-list .pos-menu {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconic-menu .menu-iconic-list .pos-menu:hover,
.iconic-menu .menu-iconic-list .pos-menu:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconic-menu .menu-iconic-list .icons-menu {
    fill: #F4F4FD;
    width: 24px;
    height: 24px;
}
.list-menu .link-sell-menu {
    list-style: none;
}
.contacts-menu .list-menu {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.link-sell-menu {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #404BBF;
    line-height: 1.5;
    font-size: 36px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 200px;
    margin-bottom: 168px;
}
.address-menu .contacts-menu .links-menu {
    color: #434455;
}
.address-menu .contacts-menu .links-menu:hover,
.address-menu .contacts-menu .links-menu:focus {
    color: #404BBF;
}
.address-menu .contacts-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 48px;
}
.links-menu {
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.links-o-menu {
    text-decoration: none;
    color: #404BBF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.link-menu {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
    position: relative;
    font-size: 36px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}